<ng-container *ngIf="!isLoading">
	<div class="jumbotron flex justify-content-space-between align-items-center">
		<form
			class="filters flex justify-content-space-between align-items-center"
			[formGroup]="searchForm"
		>
			<mat-form-field appearance="outline">
				<mat-label>Spirits Finder</mat-label>
				<input
					type="text"
					placeholder="Brand, Style, ABV, Origin..."
					aria-label="Spirits Finder"
					matInput
					formControlName="searchControl"
				/>
				<mat-icon
					[style.margin]="'0 15px'"
					matPrefix
					class="material-symbols-outlined"
				>
					search
				</mat-icon>
			</mat-form-field>

			<div class="category-buttons flex justify-content-flex-end align-items-center">
				<button
					class="category-button flex justify-content-space-between align-items-center"
					*ngFor="let category of drinkCategories"
					(click)="changeCategory(category)"
					[class.category-active]="category.label === selectedCategory.label"
				>
					<img
						alt=""
						class="example-option-img"
						[src]="'../../../../../../../assets/icons/' + category.img"
					/>
					{{ category.label | titlecase }}
				</button>
			</div>
		</form>
	</div>

	<div class="product-container flex flex-direction-column justify-content-flex-start align-items-center">
		<ng-container *ngIf="selectedCategory.label !== 'Wine'">
			<app-product-card
				*ngFor="let product of filteredProducts | async; let i = index"
				[product]="product"
				[animationDelay]="i"
				[stockList]="stockList"
			></app-product-card>
		</ng-container>
	</div>
</ng-container>

<mat-spinner
	diameter="200"
	strokeWidth="6"
	*ngIf="isLoading"
></mat-spinner>
