<div class="topbar-container flex justify-content-center">
	<div class="topbar flex justify-content-space-between align-items-center">
		<img
			class="logo"
			src="../../../../../assets/logo.png"
			alt="beer-commerce-logo"
		/>

		<div class="user-data flex justify-content-flex-end align-items-center">
			<span class="user-name">Hi Mr. <strong>Michael</strong></span>
			<img
				class="user-avatar"
				src="../../../../../assets/icons/user.jpg"
				alt="user-avatar"
			/>
		</div>
	</div>
</div>
